body {
  max-width: 800px;
  margin: 100px auto;
  background-color: #f0efee;
}

.app-title {
  font-size: 36px;
  font-weight: bold;
}

.add-todo-form {
  margin: 0 auto;
  margin-top: 50px;
}

.add-todo-input {
  height: 30px;
  width: 60%;
  font-size: 18px;
}

.btn {
  height: 36px;
  width: 100px;
  background-color: rgb(181, 241, 221);
  margin-left: 5px;
  border: none;
  border-radius: 3px;
}

.btn:hover {
  cursor: pointer;
}

.update-todo-button {
  position: absolute;
  top: -3px;
  right: -104px;
}

.cancel-update-button {
  background-color: #f5baba;
  position: absolute;
  top: -3px;
  right: -208px;
}

.todos-list {
  margin-top: 50px;

}

.todo-list {
  height: 30px;
  width: 60%;
  padding-left: 5px;
  line-height: 30px;
  border: solid 1px #c3c3c2;
  background-color: #fff;
  position: relative;
}

.todo-text {
  font-size: 18px;
  display: inline;
  margin-left: 20px;
}

.todo-input {
  font-size: 18px;
  margin-left: 20px;
}

.far:hover {
  cursor: pointer;
}

.fa-trash-alt {
  position: absolute;
  right: 10px;
  top: 8px;
  color: red;
}

.fa-trash-alt:hover {
  cursor: pointer;
}