body {
  max-width: 800px;
  margin: 100px auto;
  background-color: #f0efee;
}

.app-title {
  font-size: 36px;
  font-weight: bold;
}

.add-todo-form {
  margin: 0 auto;
  margin-top: 50px;
}

.add-todo-input {
  height: 30px;
  width: 60%;
  font-size: 18px;
}

.btn {
  height: 36px;
  width: 100px;
  background-color: rgb(181, 241, 221);
  margin-left: 5px;
  border: none;
  border-radius: 3px;
}

.btn:hover {
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
}

.update-todo-button {
  position: absolute;
  top: -3px;
  right: -104px;
}

.cancel-update-button {
  background-color: #f5baba;
  position: absolute;
  top: -3px;
  right: -208px;
}

.todos-list {
  margin-top: 30px;
}

.section-title {
  margin-bottom: 10px;
}

.todo-isDone {
  background-color: rgb(231, 229, 229);
}

.todo-list {
  height: 30px;
  width: 60%;
  line-height: 30px;
  border: solid 1px #c3c3c2;
  background-color: #fff;
  position: relative;
}

.todo-text {
  font-size: 18px;
  display: inline;
  margin-left: 20px;
}

.todo-input {
  font-size: 18px;
  margin-left: 20px;
}

.far {
  padding-left: 5px;
}

.far:hover {
  cursor: pointer;
}

.fa-trash-alt {
  position: absolute;
  right: 10px;
  top: 8px;
  color: red;
}

.fa-trash-alt:hover {
  cursor: pointer;
}

.searchText-form {
  margin-top: 30px;
}

.input-searchText {
  height: 30px;
  width: 60%;
  font-size: 18px;
  border-radius: 10px;
  border: solid 1px gray;
}

.order-no-input {
  position: absolute;
  top: 5px;
  right: 30px;
  width: 50px;
  text-align: center;
}

.change-order-btn {
  background-color: rgb(162, 217, 243);
  margin-top: 200px;
  margin-left: 380px;
}
.expect-date-components {
  position: relative;
}
.expect-date {
  position: absolute;
  top: 0;
  left: -80px;
}

.edit-date-input {
  position: absolute;
  top: 0;
  left: -80px;
  width: 65px;
  height: 26px;
}

.update-date-button {
  position: absolute;
  top: 0;
  right: -104px;
}

.cancel-update-date-button {
  background-color: #f5baba;
  position: absolute;
  top: 0;
  right: -208px;
}
.move-to-isDone-button {
  position: absolute;
  top: 0;
  right: -110px;
}

.isDone-todo-text {
  margin-left: 38px;
}

.isDone-todo-input {
  margin-left: 38px;
}

@media screen and (max-width: 420px) {
  body {
    max-width: 380px;
    margin: 50px auto;
  }

  .add-todo-form {
    width: 100%;
  }

  .add-todo-input {
    width: 70%;
  }

  .input-searchText {
    width: 70%;
  }

  .todo-list {
    width: 100%;
    height: 100%;
  }

  .todoList {
    width: 100%;
  }

  .update-todo-button {
    position: unset;
    margin-left: 40px;
  }

  .cancel-update-button {
    position: unset;
  }

  .todo-input {
    width: 64%;
  }

  .btn {
    height: 30px;
  }

  .move-to-isDone-button {
    position: absolute;
    top: 0;
    right: 90px;
  }
}
